body {
  font-family: "Encode Sans", sans-serif;
}

a {
  text-decoration: none;
}

img:hover {
  cursor: pointer;
  filter: brightness(0.9)
}

h1 {
  font-size: 52px;
  font-weight: bold;
  color: #c4160c;
  line-height: 67px;
  padding-bottom: 30px;
}

h1:hover {
  cursor: pointer;
  filter: brightness(1.1)
}

h2 {
  font-size: 18px;
  font-weight: 500;
  color: #303134;
}

h2:hover {
  cursor: pointer;
  filter: brightness(1.3)
}

h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
  margin-bottom: 10px;
  color: #2F3134;
}

h3:hover {
  cursor: pointer;
  filter: brightness(1.3);
}

h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 17.5px;
  margin-bottom: 6px;
  color: #C4170C;
}

h4:hover {
  cursor: pointer;
  filter: brightness(1.1)
}

h5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 17.5px;
  margin-bottom: 6px;
  color: #16AE54;
}

h5:hover {
  cursor: pointer;
  filter: brightness(1.1)
}

h6 {
  font-size: 14px;
  font-weight: 500;
  line-height: 17.5px;
  margin-bottom: 6px;
  color: #EC8006
}

h6:hover {
  cursor: pointer;
  filter: brightness(1.1)
}

p {
  font-size: 14px;
  line-height: 19px;
  color: #2F3134;
}

p:hover {
  cursor: pointer;
  filter: brightness(1.3)
}

.cabecalho {
  display: flex;
  flex-direction: column;
}

.logo {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 171px;
}

.containerMenu {
  display: flex;
  justify-content: center;
  border-top: 1px solid #f5f6f7;
  border-bottom: 1px solid #f5f6f7;
}

.menu {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1250px;
}

.menu a {
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
}

.menu a:hover {
  cursor: pointer;
  filter: brightness(1.1)
}

.containerCorpo {
  display: flex;
  justify-content: center;
}

.corpo {
  display: flex;
  justify-content: space-between;
  width: 1250px;
  padding-top: 36px;
  padding-bottom: 36px;
  margin-left: 15px;
  margin-right: 15px;
}

.corpoEsquerdo {
  padding-right: 40px;
  width: 53%;
  border-right: 0.5px solid#ebedef;
}

.corpoEsquerdo img {
  height: 110px;
  border-radius: 12px;
  margin-bottom: 11px;
}

.containerTitulo {
  border-bottom: 0.5px solid #ebedef;
  padding-bottom: 25px;
}

.containerNoticias1 {
  border-top: 0.5px solid #ebedef;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  column-gap: 24px;
}

.containerNoticias1 .noticia {
min-width: 193px;
}

.corpoDireito {
  width: 48%;
  display: flex;
  border-left: 0.5px solid #ebedef;
}

.corpoDireito img {
  height: 128px;
  border-radius: 12px;
  margin-bottom: 11px;
}

.containerNoticias2 {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.containerNoticias2 .noticia {
  min-width: 240px;
}

.bordaDireita {
  border-right: 1px solid #ebedef;
  padding-right: 40px;
}