body {
  font-family: "Encode Sans", sans-serif;
}

h1 {
  font-size: 52px;
  font-weight: bold;
  color: #c4160c;
  line-height: 67px;
  padding-bottom: 30px;
  /* background-color: #303134; */
}

h2 {
  font-size: 18px;
  font-weight: 500;
  color: #303134;
  /* padding-bottom: 15px; */
}

h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 17.5px;
  margin-bottom: 6px;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  line-height: 19px;
}

.cabecalho {
  display: flex;
  flex-direction: column;
}

.logo {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 171px;
}

.containerMenu {
  display: flex;
  justify-content: center;
  border-top: 1px solid #f5f6f7;
  border-bottom: 1px solid #f5f6f7;
}

.menu {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1250px;
}

.menu a {
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
}

.containerCorpo {
  display: flex;
  justify-content: center;
}

.corpo {
  display: flex;
  justify-content: space-between;
  width: 1250px;
  padding-top: 36px;
  padding-bottom: 36px;
  margin-left: 15px;
}

.corpoEsquerdo {
  border-right: 0.5px solid #ebedef;
  padding-right: 40px;
  width: 53%;
}

.corpoEsquerdo img {
  height: 110px;
  border-radius: 12px;
  margin-bottom: 11px;
}

.corpoEsquerdo h3 {
  color: #C4170C;
}

.containerTitulo {
  border-bottom: 0.5px solid #ebedef;
  padding-bottom: 25px;
}

.containerNoticias1 {
  border-top: 0.5px solid #ebedef;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  column-gap: 24px;
}

.noticiaEsquerda {
/* width: 193px; */
min-width: 193px;
}

.corpoDireito {
  border-left: 0.5px solid#ebedef;
  width: 48%;
}

